[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
solshare_payment = "H5FgabhipaFijiP2HQxtsDd1papEtC9rvvQANsm1fc8t"
solshare_social = "G2USoTtbNw78NYvPJSeuYVZQS9oVQNLrLE5zJb7wsM3L"
solshare_token_gate = "EXVqoivgZKebHm8VeQNBEFYZLRjJ61ZWNieXg3Npy4Hi"

[programs.localnet]
solshare_payment = "H5FgabhipaFijiP2HQxtsDd1papEtC9rvvQANsm1fc8t"
solshare_social = "G2USoTtbNw78NYvPJSeuYVZQS9oVQNLrLE5zJb7wsM3L"
solshare_token_gate = "EXVqoivgZKebHm8VeQNBEFYZLRjJ61ZWNieXg3Npy4Hi"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[hooks]
